
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    height: 100vh;
   
    padding: 0;
    margin: 0;
   font-family: 'poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#127205;
    --primary-color:#0f5c05;
    --primary-padding:90px:

}

*::selection{
  color: white;
  background-color: black;
} 
html{
    scroll-behavior: smooth;
}
.arrow{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    border: 2px solid white;
}
nav{
    height: 70px;
    background: white;
    border-bottom: 1px solid rgb(235, 234, 234);
    
}
nav img{
    width: 150px;
    position: relative;
    top: 8px;
    left:4%;
    color: #2c3e50;
  

}
nav ul{
    float: right;
    margin-right: 25px;

    
}
nav ul li{
    display: inline-block;
    padding: 15px 0; 
    margin-top: 10px; 
   margin-bottom: 15px;
     

}
nav ul li a{
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 300;
    padding: 5px 0;
    margin: 10px 20px;
    text-transform: uppercase;
    width: 100%;
}
nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--main-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ;


}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: center;
}
label #btn, label #cancel{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    background:var(--primary-color);
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 17px;
    display: none;
    z-index: 2;
    border: 2px solid white;
   
    
}
#check{
    display: none;
}
@media (max-width:1118px) {
    nav img{
        left: 8%;
    }
    
}
@media (max-width:944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
       
    }
    nav ul li a{
        font-size: 17px;

    }
}
@media (max-width:860px) {
     label #btn{
      position: fixed;
      right: 10px;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
    
     }
     ul{
        position: fixed;
        width: 80%;
        height: 100vh;
        background:var(--primary-color);
        top: 80px;
        left: -860px;
        text-align: center;
        transition: all .5s;
       margin: 10px;
        z-index: 2;
        border-radius: 10px;
     }
     nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;

     }
     nav ul li a{
        font-size: 20px;
        color: white;
     }
    
    #check:checked ~ ul{
        left: 0;

    }
    #check:checked ~ label #btn{
       display: none;
       

    }
    #check:checked ~label #cancel{
        display: block;
        position: fixed;
        right: 10px;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;

    }
}


/* ----------------------overview----------------- */
.overview{
 
  padding: 0 30px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: rgb(18,152,0);
  background: linear-gradient(0deg, rgba(18,152,0,0.35898109243697474) 22%, rgba(253,187,45,0) 77%);
  
}
.overview .box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200px;

}
.overview .box h1{

  font-weight: 600;
  color: #181b17;
}
.overview .box h3{
  font-weight: 600;
  color: #181b17;
}
.overview .box .imgg{
    width: 80px;
    height: 80px;
    background: rgb(173, 218, 226); 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
 }
/* ---------events-------------- */
.event-container{
  padding: 10px 90px;
 

}
.events h1{
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;  
}

.events .boxe{
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 10px 0px;
  padding: 10px 20px;
  border-bottom: 1px solid grey;
  transition: .5s ease-in;
 
}
.events .boxe:hover{
  background: #129800;
  color: white;
}
.events .box img{
  height: 70px;
  width: 70px;
  margin: 0 10px;
}
.events .box .name{
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: repeat(auto-fit,minmax(1fr, 1fr));
}
.line2{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.line2 p{
  font-size: 16px;
  font-weight: 300;
}
.line2 p:nth-child(1){
width: auto;
}

.line2 p:nth-child(2){
color: white;
background: #129800;
text-align: bottom;
border-radius: 6px;
padding: 1px 10px;
margin: 0 30px;
}
.line2 p:nth-child(3){
  color: white;
  background: blue;
  text-align: bottom;
  border-radius: 6px;
  padding: 1px 10px;
  margin: 0 30px;
  }
  
 /* -------------------intro vdo---------------- */
.intro-vdo{
  aspect-ratio: 16 / 9;

}
.youtube-video{
  width: 100%;
  height: 100%;
}
/* ---------------home------------- */
.home{
    width: 100%;
    height: 100vh;
    
    margin: 0;
    display: flex;
    flex-direction: row;
}
.right{
   
    padding: 0;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    width: auto;
}
.right img {
    height: 330px;
    width: 400px;
}
.left{
   
    width: 100%;
    height: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 20px;
    overflow: hidden;
   
}
.left h2{
    margin-top: 20px;
    font-size: 5rem;
    font-weight: 800;
    color:black;
    align-items: left;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -4px;
    
}
.left h2 span{
    color: var(--main-color);
    font-size: 4.0rem;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.left h1{
    font-size: 39px;
    font-weight: 600;
    color: var(--main-color);
}
.title p{
    font-size: 2rem;
    color: #2c3e50;
    line-height: 1rem;
    width: 40%;
}
.enroll-btn p{
    font-size: 18px;
    font-weight: 600;
   
}  
.enroll-btn{
    padding: 10px 30px;
    margin: 20px 10px;
    width: fit-content;
    background-color: var(--main-color);
    border: 3px solid transparent;
    border-radius: 5px;
    color: white;
    transition: .5s all ease;
}
.enroll-btn:hover{
    color: black;
    background-color: transparent;
    border: 3px solid var(--main-color);
}

















/* ---------------------programmes-------------- */

.programs .curved-div {
    position: relative;
    background:var(--main-color);
    color: #FFF;
    text-align: center;
    overflow: hidden;
  }
 .programs .curved-div svg {
    display: block;
  }
  .programs .curved-div.upper {
    background: #fff;
  }
  .programs .curved-div h1 {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 0 90px;
    text-align: left;  
  }
  .programs .curved-div p {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    padding: 0 90px;
    text-align: left;  
   
    margin-bottom: 10px;
  }
  .programs-content{
    display: flex;
    flex-direction: column;
    padding: 0 90px;
  }
  .programs-content .row{
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .programs-content .row .box .element{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,0) 100%);
    height: 200px;
    transform: translateY(-200px);
    transition: .4s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
 .programs-content .row .box  .element .fa-solid{
height: 50px;
width: 50px;
font-size: 18px;
background:var(--main-color);
color: white;
font-weight: 600;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
  } 
  .programs-content .row .box .index{
   width: 100%;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e507c;
  }
.programs-content .row .box{
background-image: url('https://images.unsplash.com/photo-1503428593586-e225b39bddfe?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
height: 200px;
border-radius: 10px;
padding: 0;
margin: 10px 15px;
transform: translateY(0px);
box-shadow: 0;
transition: .4s all ease;
display: flex;
flex-direction: column;
}
.programs-content .row .box:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 30px rgba(239, 241, 240, 0.6);
    border-radius: 5px;
    
}
.programs-content .row .box:hover .element{
    transform: translateY(0px);
}
.programs-content .row .box .element p{
    font-size: 14px;
    padding: 10px 5px;
    text-align: center;
    line-height: 1rem;

}














/* ---------------------contact-------------- */

.curved{
    background:var(--main-color);
    text-align: center;
    color: aliceblue;
    padding: 0;

  }
  .curved svg{
    display: block;
  }
  .ht-determiner{
    height: 60vh;
   
  }
@media (max-width:1111px) {

  .ht-determiner{
    height: 100vh;
   
  }
  .contents{
    padding: 0 70px;
    margin-top: 100px;
  }
  
}

.contents{
  padding: 0 20px;
  transform: translateY(-350px);
}
  .top-row{
    display: grid;
    grid-gap: 1rem;
     justify-content: center;
     align-items: center;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   }
  
  .top-row .box{
    height: 200px;
    padding: 20px 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d0e4cd;
    margin: 10px 15px;
    color: black;
  }
.top-row .box i{
  font-size:3rem;
  color:var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
}
.top-row .box h3{
  font-weight: 600;
  }
  .top-row .box p{
    text-align: center;
    width: 100%;
  }
    .bottom-row{
    
      display: grid;
      grid-gap: 1rem;
      justify-content: center;
      align-items: top;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .bottom-row .box{ 
      padding: 20px 5px; 
      display: flex;
      flex-direction: column;
    }
    .bottom-row .box h1{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      width: 100%;
      text-align: left;
    }
    .bottom-row .box p{
      text-align: left;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      margin: 15px 0;
    }
    
    .social-media{
      display: flex;
      font-size: 24px;
      font-weight: 600;
      margin-top: 40px;
      color: white;
      width: 300px;
    }

    .social-media i{
    margin-right: 20px;
    }

/* -------------------contact-form------------ */

.contactForm{

  padding: 20px;
  background: white;
  border-radius: 10px;
}
.contactForm h2 {
  font-size: 30px;
  color:black;
  font-weight: 500;

}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 26px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;


}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-25px);
}

.contactForm .inputBox .submit{
width: 100%;
background:var(--main-color);
color: #fff;
border: none;
cursor: pointer;
padding: 10px;
font-size: 18px;
border-radius: 10px;
border: 3px solid transparent;
transition: background .5s;
}
.contactForm .inputBox .submit:hover{
  border: 3px solid var(--main-color);
  background-color: transparent;
  color: #262626;
}


/* ---------------------passouts-------------- */
.passouts{
    background: #014b94;
}


















/* ---------------------about-------------- */
.about{
  padding: 0;
    margin: 0;
    
   
}

.top-img{
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-image: url('resources/baout-thumbnail.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.top-img .content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-img .content h1{
  font-weight: 600;
  font-size: 3rem;
  text-shadow:5px 5px 27px #129800;  color:#101110; 
}
.top- img .hello{
  padding: 0;
}
.hello svg{
  display: block;
}
.about .curved-div {
    position: relative;
    background:var(--main-color);
    color: #FFF;
    text-align: center;
    overflow: hidden;
  }
 .about .curved-div svg {
    display: block;
  }
  .about .curved-div.upper {
    background: red;
    width: auto;
    margin: 0;
  }
  .about .curved-div h1 {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 0 90px;
    text-align: left;
  }

  .curved-div .text{
    padding: 0 90px;
    text-align: left;
  }
.about-content{
display:flex;
padding: 0 90px;

}
.about-content .left{
width: 340px;
height: 360px;
display: flex;
justify-content: center;
align-items: center;
}
.about-content .right{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
justify-content: left;
align-items: center;
}
.about-content .right p{
    font-size: 19px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-content .left img{
    height: 220px;
    width: 220px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
   border-radius: 24px;
   transform: scale(1);
   box-shadow: 0 15px 30px rgba(239, 241, 240, 0.6);
   transition: .4s all ease;
}
.about-content .left img:hover{
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(7, 26, 39, 0.6);
    transform: scale(1.1);
}
  












/* ----------booking layout-------- */
.book{
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  background: var(--main-color);
  color: white;
  padding: 90px 0;
  
}
.book h3, .book h1{
  text-align: center;
}
.book .online-book-btn{
  padding: 10px 30px;
  margin: 20px 10px;
  width: fit-content;
  background-color: var(--main-color);
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  transition: .5s all ease;
  font-weight: 600;
}
.online-book-btn:hover{
  color: black;
  background-color: white;
  border: 3px solid var(--main-color);
}



/* ----------map------- */
/* ---------find us -----  */
.mapping{
  padding: 0;
  margin: 0;
 
}
.mapping .map-content{
  background:var(--main-color);
  padding: 0 90px;
  color: white;
}
.map-content h1{
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;  
 
}

.cop{
  background: var(--primary-color);
  color:honeydew;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.cop p{
  font-size: 18px;
  font-weight: 600;
 

}
.cop a{
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(146, 183, 231);
}

/* --------------small screen----------------- */


@media (max-width:860px) {
  .home{
   width: 100%;
  
  }
  .right{
  
  display: none;
  }
  .left{
    height: 100%;
  }
   .right img {
    height: 230px;
    /* width: 300px; */
}

.left h2{
    font-size: 3rem;
    font-weight: 800;
    color:black;
    align-items: left;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: -4px;
    
}
.left h2 span{
    color: var(--main-color);
    font-size: 2.0rem;
}
.left .title{
    font-size: 2rem;
}
.title p{
    font-size: 1.0rem;
    color: #2c3e50;
    line-height: 1rem;
    
}
.about-content{
  display:flex;
  flex-direction: column;
  
  }
  
  
  
  .programs .curved-div h1 {
   width: 100%;
    padding: 0 20px;
    text-align: left;  
  }
  .programs .curved-div p {
    padding: 0 20px;
    width: 90%;
    text-align: left;
 
  }
  .curved-div .text{
    padding: 0 30px;
    text-align: left;
  }
  .programs-content{
    padding: 0 20px;
   margin: 0 30px;
  }
  
  .about .curved-div h1 {
    width: 100%;
    padding: 0 20px;
  }

.about-content{
padding: 0 20px;

}

.about-content .left img{
  height: 300px;
  width: 300px;

}

.about-content .left{
  width: 100%;
  height: 360px;
  padding: 0;
  }
  
  .contents{
    padding: 0 20px;
    transform: translateY(0px);
    margin-top: 0px;
   
  }
  .event-container{
    padding: 0;
    width: 100%;
    
  }
  .name{
    width: 100%;
  }
  
.line2{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.line2 p{
  font-size: 16px;
  font-weight: 300;
}
.line2 p:nth-child(1){
width: auto;
}

.line2 p:nth-child(2){
margin: 0 10px;
}
.line2 p:nth-child(3){
  padding: 1px 10px;
  margin: 0 10px;
  }
  
.boxe img{
  height: 50px;
  width: 50px;
}

.ht-determiner{
  height: 100%;
 
}
    }